<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233299560463-kha9pgpd1ava3f0au67cnpgenvan5qgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233299560463-kha9pgpd1ava3f0au67cnpgenvan5qgu</string>
	<key>API_KEY</key>
	<string>AIzaSyC9RgI2dAFqpg0qAjKMAo_oT0x-YZ9cSe0</string>
	<key>GCM_SENDER_ID</key>
	<string>233299560463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iehapp.pizzaorder.pizzaOrder</string>
	<key>PROJECT_ID</key>
	<string>iehapppizzaorder</string>
	<key>STORAGE_BUCKET</key>
	<string>iehapppizzaorder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233299560463:ios:bcacd58b3ced22bdf23b7a</string>
	<key>DATABASE_URL</key>
	<string>https://iehapppizzaorder-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>